/* Jumbotron */
.jt {
  background-color: #1a252f;
  padding-top: 3%;
}

/* Navbar */
.nb {
  padding-top: 2%;
}

/* Carousel */
.carousel {
  padding-bottom: 2%;
}

.carousel-inner {
  display: block;
  height: 540px;
}

/* Table */
th {
  text-align: center;
}

td,
th {
  width: 20%;
}

/* Form */
.form-spacing {
	padding: 2rem;
}

#forms,
.about-us {
  color: white;
  background: #476878;
  padding-bottom: 5%;
}

/* About Us */
.about-us {
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 17%;
  padding-right: 17%;
}

.bio {
  font-size: 1.5em;
  font-weight: 400;
}

/* Footer */
.footer {
  padding: 5%;
}

.copyrights {
  background-color: #1a252f;
  color: white;
}

/* Shared */
.nb,
.carousel,
.footer {
  color: white;
  background: #233640;
}

.material-icons {
  font-size: 16px;
}

/* Divider (Horizontal Line) Styling */
span {
  display: inline-block;
  vertical-align: middle;
  max-width: 5em;
  font-size: 20px;
}

.outer-line {
  width: 40%;
  border-bottom: 5px solid #fff;
}

.outer-line-dark {
  width: 40%;
  border-bottom: 5px solid #233640;
}
